<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- 
      Configure Selenium grid settings http://www.seleniumhq.org/projects/grid/
    -->
    <!--
      Choose on of the following drivers:
      InternetExplorer
      Chrome
      Firefox
    -->
    <add key="DriverToUse" value="Chrome" />
    <add key="TargetUrl" value="http://ppm.36.qa/" />
    <add key="BuildNumber" value="3.6.1159.0" />
    <add key="ExplicityWait" value="50000" />
    <add key="ImplicitlyWait" value="1" />
    <add key="PageLoadTimeout" value="2" />
    <add key="ChromeWaitConfig" value="60" />
    <add key="ScriptTimeExecution" value="10" />
    <add key="UserNameXpath" value="//*[@id='username']" />
    <add key="PasswordXpath" value="//*[@id='password']" />
    <add key="LoginButtonXpath" value="//*[@id='LoginButton']" />

    <!--
    PPMKeys
    -->
    <add key="MyTaskXpath" value="//*[@title='Мои задачи ']" />
    <add key="ProjectsXpath" value="//*[@title='Проекты']" />
    <add key="WorkPlansXpath" value="//*[@title='Планы работ']" />   
    <add key="RecordOnProjectXpath" value="//*[@title='Заявки на проект']//span[1]" />
    <add key="CreateRecordOnProjectXpath" value="//*[@title='Создать заявку на проект']" />
    <add key="TextFieldXpath" value="//*[@class='input input_text js-input']" />
    <add key="DropDownXpath" value="//*[@class='js-input bubbles__input']" />
    <add key="FirstElementFromListXpath" value="//*[@class='dd-list__i selected']" />
    <add key="DateTimeNullXpath" value="//*[@class='editor editor_date-time js-dropdown__root ShortDate editor_empty required']" />
    <add key="DayOldXpath" value="//*[@class='day old']" />
    <add key="DayNewXpath" value="//*[@class='day new']" />
    <add key="CreateTicketXpath" value="//*[text() = 'Создать заявку на проект']" />
    <add key="ButtonOnStartFormXpath" value="//*[@class='toolbar-btn js-btn   btn-strong']" />
    <add key="LogoXpath" value="//*[@class='composite-user-abr__container']" />
    <add key="LogOutClickXpath" value="//*[@title='Выход']" />
    <!--add key="LogOutClickXpath" value="//*[@class='js-logout nav-profile__logout']" /-->
    <add key="MakeOrganizeEvaluationXpath" value="//*[@title='Организовать предпроектную оценку']" />
    <add key="MakeTechnicalRequirementXpath" value="//*[@title='Оформить и утвердить технические требования к ИТ-проекту']" />
    <add key="TextFieldOnGroupXpath" value="//*[@class='textarea js-input']" />
    <add key="AddRecordToCollectionXpath" value="//*[@class='toolbar-btn toolbar-btn_none    toolbar-btn_action  ']" />
    <add key="ButtonOnToolbarXpath" value="//*[@title='Завершить задачу']" />
    <add key="SaveButtonXpath" value="//*[@title='Сохранить']" />
    <add key="ButtonOnToolbarXpath1" value="//*[@class='js-action toolbar-btn__text']" />
    <add key="MakeRateUrgencyXpath" value="//*[@title='Оценить срочность выполнения заявки']" />
    <add key="RadioButtonXpath" value="//*[@class='editor editor_radiobutton ']" />
    <add key="MakeProjectXpath" value="//*[@title='Формирование проектов по заявке']" />
    <add key="AddNewRecordOnCollectionXpath" value="//*[@class='toolbar-btn toolbar-btn_none    toolbar-btn_action  ']" />
    <add key="CollectionFieldXpath" value="//*[@class='js-visible-collection visible-collection ']/tr/td" />
    <add key="FirstListCheckBoxXpath" value="//*[@class='dd-list__i dd-list__i_checkbox selected']" />
    <add key="FirstListCheckBoxXpath1" value="//*[@class='dd-list__i dd-list__i_checkbox']" />
    <add key="MakeTurnProjectXpath" value="//*[@title='Включение проекта в план-график']" />
    <add key="MakeAppointDirectorXpath" value="//*[@title='Назначение руководителя проекта" />
    <add key="WorkPlanGroupXpath" value="//*[@title='Планы работ']//span[1]" />
    <add key="MyWorkPlanXpath" value="//*[@title='Мои планы (Руководитель)']" />
    <add key="CreateWorkPlanXpath" value="//*[@title='Создать']" />
    <add key="TabWorkGroupXpath" value="//*[@title='Рабочая группа']" />
    <add key="RukovoditelXpath" value="//*[@title='Руководитель']" />
    <add key="MakeProjectPrepareXpath" value="//*[@title='Подготовка проекта" />
    <add key="CreatePhaseXpath" value="//*[text() = 'Создать фазы']" />
    <add key="DocumentsTabXpath" value="//*[@title='Документы']" />
    <add key="AddDocumentXpath" value="//*[@class='js-file-input input-upload']" />
    <add key="ButtonCompleteXpath" value="//*[@title='Завершить']" />
    <add key="ProjectGroupXpath" value="//*[@title='Проекты']//span[1]" />
    <add key="MyProjectXpath" value="//*[@title='Мои проекты (Руководитель)']" />
    <add key="MainDataXpath" value="//*[text() = 'Основные данные']" />
    <add key="ManageProjectXpath" value="//*[text() = 'Ведение проекта']" />
    <add key="TitleXpath" value="//*[@title='" />
    <add key="GoToTaskXpath" value="//*[@title='Перейти к редактированию (задаче)']" />
    <add key="ConceptualDesignXpath" value="//*[@title='Концептуальное проектирование" />
    <add key="DateTimeXpath" value="//*[@class='editor editor_date-time js-dropdown__root ShortDate editor_empty']" />
    <add key="ButtonSaveXpath" value="//*[@title='Сохранить']" />
    <add key="AcceptPlannedXpath" value="//*[@class='toolbar-btn toolbar-btn_none    toolbar-btn_undefined  ']" />    
    <add key="CheckBoxCollectionXpath" value="//*[@class='checkbox js-checkbox']" />
    <add key="CreateTittleXpath" value="//*[@title='Создать']" />
    <add key="FirstCollectionXpath" value="//*[@class='js-visible-collection visible-collection ']/tr/td" />
    <add key="StatusPlannedXpath" value="//*[@class='toolbar-btn js-btn toolbar-btn']" />
    <add key="BuissnessResearchXpath" value="//*[@title='Обследование бизнес-процесса, выбор варианта реализации" />
    <add key="EditorPopoutXpath" value="//*[@class='bubbles editor_empty popout__action']" />
    <add key="ExecuteStatusXpath" value="//*[@title='Выполнена']" />
    <add key="DevelopShemeXpath" value="//*[@title='Разработка Схемы бизнес-процесса и направление на согласование" />
    <add key="DevelopTicketXpath" value="//*[@title='Разработка Пояснительной записки и направление на согласование" />
    <add key="VersionsTabXpath" value="//*[@title='Версии']" />
    <add key="CheckBoxXpath" value="//*[@class='js-editor-checkbox__toggle-button checkbox']" />
    <add key="VersionsTabXpath" value="//*[@title='Версии']" />
    <add key="DevelopTaskXpath" value="//*[@title='Разработка Задания на проектирование и направление на согласование" />
    <add key="CompleteStatusXpath" value="//*[@title='Завершена']" />
    <add key="AddedBuissnessResearchXpath" value="//*[@title='Обследование бизнес-процесса, выбор варианта реализации" />
    <add key="AddedDevelopShemeXpath" value="//*[@title='Разработка Схемы бизнес-процесса и направление на согласование" />
    <add key="AddedDevelopTicketXpath" value="//*[@title='Разработка Пояснительной записки и направление на согласование" />
    <add key="AddedDevelopTaskXpath" value="//*[@title='Разработка Задания на проектирование и направление на согласование" />
    <add key="CompletePhaseXpath" value="//*[@title='Завершить фазу']" />
    <add key="CreateVersionXpath" value="//*[@title='Создать версию']" />
    <add key="AcceptPhaseCPXpath" value="//*[@title='Приёмка фазы КП']" />
    <add key="AcceptPhaseTabXpath" value="//*[@title='Приёмка фаз']" />
    <add key="PhaseCPTaskAcceptXpath" value="//*[@title='Фаза КП - Задание на проектирование утверждено']" />
    <add key="PhaseCPTicketAcceptXpath" value="//*[@title='Фаза КП - Пояснительная записка утверждена или архитектура решения принята на совещании в УИТ']" />
    <add key="AcceptStatusXpath" value="//*[@title='Принято']" />
    <add key="TechnicalProjectXpath" value="//*[@title='Техническое проектирование и реализация" />
    <add key="PhaseTPTestAcceptXpath" value="//*[@title='Фаза ТП и реализации - Комплексное тестирование проведено успешно']" />
    <add key="PhaseTPSolutionAcceptXpath" value="//*[@title='Фаза ТП и реализации - Проектное решение согласовано']" />
    <add key="PreparationOPEXpath" value="//*[@title='Подготовка и проведение ОПЭ" />
    <add key="PhaseOPEAktOPEAcceptXpath" value="//*[@title='Фаза ОПЭ - Акт передачи в ОПЭ утвержден']" />
    <add key="PhaseOPEAktPEAcceptXpath" value="//*[@title='Фаза ОПЭ - Акт передачи в ПЭ утвержден']" />
    <add key="AcceptPhaseTPXpath" value="//*[@title='Приёмка фазы ТП и реализации']" />
    <add key="AcceptPhaseOPEXpath" value="//*[@title='Приёмка фазы ОПЭ']" />
    <add key="LoaderXpath" value="//*[@class='loader']" />
    <add key="CreationDateXpath" value="//*[text() = 'Дата создания']" />
    <add key="CodeXpath" value="//*[text() = 'Код']" />
    <add key="PopupHeaderXpath" value="//*[@class='layout__popup-view-header js-header']" />
    <add key="LoaderVisibleXpath" value="//*[@class='js-content-loading-region l-loader visible-loader']" />
    <add key="LoaderOnUserFieldOnCollectionXpath" value="//*[@class=' fal  fa-spinner fa-pulse  js-datalist-loading']" />
    <add key="VerticalLayoutXpath" value="//*[@class='layout__vertical-layout']" />
    <add key="ButtonOnFormCollectionXpath" value="//*[@class='toolbar-btn    toolbar-btn_icon  ']" />
    <add key="LoaderCollectionXpath" value="//*[@class='l-loader visible-loader']" />
    <add key="AllTabsXpath" value="//*[@class='layout__tab-layout__header-view-item tab-layout__headers-menu popout__action-btn']" />
    <add key="LeftNavigationRollXpath" value="//*[@class=' js-toggle-navigation-button left-menu-config-btn left-menu-config-btn_switcher']" />
    <!--
    RegressKeys
    -->
    <add key="GlobalConfigurationXpath" value="//*[@class='nav-profile__link']" />
    <add key="TemplateTextXpath" value="//*[text() = 'Шаблоны']" />
    <add key="BusinessAppTextXpath" value="//*[text() = 'Бизнес-приложения']" />
    <add key="AddXpath" value="//*[@title='Создать']" />
    <add key="SelectedListXpath" value="//*[@class='dd-list__i selected']" />
    <add key="ColumnsOfListXpath" value="//*[@class='cell']" />
    <add key="AttributeTextXpath" value="//*[text() = 'Атрибуты']" />
    <add key="FormTextXpath" value="//*[text() = 'Формы']" />
    <add key="FirstAttributeOnFormXpath" value="//*[@class='ld-list-item-title']" />
    <add key="FormContainerXpath" value="//*[@class='ld-canvas-empty-add']" />
    <add key="AdministrationTextXpath" value="//*[text() = 'Администрирование']" />
    <add key="SystemBusinessAppXpath" value="//*[@title='System business app']" />
    <add key="SystemAccountXpath" value="//*[text() = 'Аккаунты']" />
    <add key="RefreshListXpath" value="//*[@title='Обновить список']" />
    <add key="CreateAttributeOnFormXpath" value="//*[@title='Добавить атрибут']" />
    <add key="AlertBodyXpath" value="//*[@class='notification-body_container']" />
    <add key="AlertBodyXpath" value="//*[@class='notification-body_container']" />
    <add key="ListTypeAttributeXpath" value="//*[@class='bubbles editor_empty popout__action']" />
    <add key="ListDataXpath" value="//*[@class='datalist-container-item']" />
    <add key="ListTypeURIXpath" value="//*[@class='dd-list__text']"/>
    <add key="LinkTemplate" value="//*[@class='datalist-container-text']"/>
    <add key="ButtonOnAddFormXpath" value="//*[@class='toolbar-btn js-btn   btn-strong']"/>   
    <add key="ButtonToExemplarXpath" value="//*[@title='Перейти к экземплярам']"/>
    <!--
    CSSKeys
    -->
    <add key="FormAttributeCss" value=".js-list-region div.js-context-ld-list-item" />
    <add key="FormElementsCss" value=".js-elements-region div.js-context-ld-list-item" />
    <add key="ListElementsCss" value=".dd-list__i" />
    <!--
    IdKeys
    -->
    <add key="FormDesigner" value="module:process:recordTypes:formDesigner"/>
    <add key="Administration" value="module:process:recordTypes:administration"/>
    <add key="Attributes" value="module:process:recordTypes:attributes"/>
    <add key="Button" value="module:process:recordTypes:operations"/>
    <add key="Toolbar" value="module:process:recordTypes:toolbar"/>
    <add key="Lists" value="module:process:recordTypes:lists"/>
    <add key="Security" value="module:process:recordTypes:security"/>
    <add key="Import" value="module:process:recordTypes:csv"/>
    <add key="DocumentsTemplates" value="module:process:recordTypes:documentsTemplates"/>
    <add key="ButtonXpath" value="//*[@title='toolbar-btn toolbar-btn_none    toolbar-btn_withoutType  ']"/>   
  </appSettings>
</configuration>